html{
  font-size: 62.5%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 25% 10%;
  background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
  color: white;

}
form{
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}
form input{
  width: 60%;
}
.divContainer{
  display: flex;
  justify-content: space-between;

}

form div{
  border: 4px black double;
  margin: 10px 25%;
}

form div input{
  width: 5%;
}
form button{
  display: inline-block;
  outline: 0;
  border: 0;
  background-color: white;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(20, 36, 50);
  border: 1px solid #cbd5e0;
  line-height: 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);

}
#textWhite{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#textBlack{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  /* font-family: "Roboto", sans-serif; */
  text-decoration: underline;
  margin: 20px 0;
}
p{
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

#memeLocation{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}


/* Meme container */
.memeContainer{
  height: 400px;
  width: 400px;
  position: relative;

  text-align: center;
  padding: 20px 0;

}
.memeContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;


}
.textTopBlack{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  position: absolute;
  top:20px;
  left: 2%;
  right: 2%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
.textTopWhite{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  color:white;
  position: absolute;
  top:20px;
  left: 2%;
  right: 2%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.textBottomBlack{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  position: absolute;
 font-size: 4rem;
  bottom: 20px;
  left: 2%;
  right: 2%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
.textBottomWhite{
  color:white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  position: absolute;
 font-size: 4rem;
  bottom: 20px;
  left: 2%;
  right: 2%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

/* Delete button */

.memeContainer button{
  visibility: hidden;
  display: inline-block;
  outline: 0;
  border: 0;
  background-color:rgb(49, 65, 80);
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  line-height: 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);

}
.memeContainer:hover button{
  visibility:visible;
  text-align: center;
}